[submodule "littlefs"]
	path = littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "FreeRtosFat"]
	path = FreeRtosFat
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-FAT.git
